body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.navbar {
    height: 4.5em;
    background: linear-gradient(to right, #007bffbe, #6710f2ad);
}
.wrapper {
    margin-top: 4.5em;
    background: linear-gradient(to right, #007bff, #6610f2);
    color: white;
    text-align: center;
}
.container .nav-link, .navbar-brand {
    color: white !important;
}
.primary-button {
    border-radius: 40px !important;
    padding: 0.5em 2em !important;
    outline: 2px solid #000fdb !important;
    color: black !important;
    background-color: rgb(225, 225, 255) !important;
}
.primary-button:hover {
    color: black !important;
    background-color: white !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important;
    transform: translateY(-2px) !important;
}
.secondary-button {
    border-radius: 40px !important;
    padding: 0.5em 2em !important;
    outline: 2px solid rgb(170, 170, 255) !important;
    color: black !important;
    background-color: rgb(200, 200, 255) !important;
}
.secondary-button:hover {
    color: black !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important;
    transform: translateY(-2px) !important;
}
.primary-button:active, .secondary-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#backToTop {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#backToTop:hover {
    background-color: #6610f2;
}
.features, .cta {
    background: white;
    padding: 50px 0;
    text-align: center;
}
.about {
    padding: 50px 0;
    background: #f9f9f9;
}
footer {
    background: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}